.root {
  // width: 100vw ;
  // height: 100vh; 
  position: relative;
  :global { ///--------------子盒子 包裹到 global 下  不会受别的类影响
    .Bread{
      margin-top: 30px;
    }
    .Card{ 
      margin-top: 10px;
      width: 1800px;
      height: 220px;  
      .all-card-content{
        display: flex;
        font-size: 18px;    
        .per-card-content:first-child{
          // background-color: rgb(228, 220, 222); 
          margin-left: 0px;
        }
        .per-card-content{
          // background-color: rgb(228, 220, 222); 
          margin-left: 100px;
          padding: 15px;

          .span-font{
            font-size: 18px;
            font-weight: 700;
          }
        }
        
      }
    }
    
  }
}
