.root {
  // background-color: pink;
  // color: red;
  // width: 100%;

  :global{
     .main{
        width: 1700px;
        height: 840px;
        // margin: 5px auto;
        background-color: #eeeeee;
        
     }


      //  左侧盒子布局
     .left{
        width: 200px;
        height: 840px;
        float: left;
        background-color: #eeeeee; 
        // justify-content: center;
        // align-items: center;
        position: relative;
        //  .Col{
        //   margin: 10px auto;
        //  }
        .Btn1{
          width: 130px;
          height: 50px;
          position: absolute;
          left: 30px;
          top: 30px;
          &:hover{
            background-color: orange;
          }
        }
        .Btn2{
          width: 130px;
          height: 50px;
          position: absolute;
          left: 30px;
          top: 110px;
          &:hover{
            background-color: orange;
          }
        }
        .Btn3{
          width: 130px;
          height: 50px;
          position: absolute;
          left: 30px;
          top: 190px;
          &:hover{
            background-color: orange;
          }
        }
        .Btn4{
          width: 130px;
          height: 50px;
          position: absolute;
          left: 30px;
          top: 270px;
          &:hover{
            background-color: orange;
          }
        }
     }


    //  右侧盒子布局
     .right{
      width: 1500px;
      height: 840px;
      float: left;
      background-color: #ffffff;
     }

    

     
  }
}


