@import '@scss/hairline.scss';

.root {
  height: 100%;

  :global {  
    // 底部首页、测试、问答、视频、我的
    .tabbar {
      position: fixed;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      display: flex;
      padding: 7px 0 5px;
      background-color: #f7f8fa;
      @include hairline(top, #f0f0f0);

      // 根据地址栏和对象属性相匹配：<div className={classNames( 'tabbar-item', location.pathname === item.path ? 'tabbar-item-active' : "" )}
      &-item-active {
        color: #fc6627;
      }

      // 每一个tab
      &-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
          margin-bottom: 4px;
          font-size: 20px;
        }

        span {
          font-size: 12px;
        }
      }
    }
  }
}
