.root :global .iconfanhui {
  font-size: 20px;
}
.root :global .content {
  padding: 0 32px;
}
.root :global .content h3 {
  padding: 30px 0;
  font-size: 24px;
}
.root :global .content .input-item {
  position: relative;
}
.root :global .content .input-item:first-child {
  margin-bottom: 17px;
}
.root :global .content .validate {
  position: absolute;
  color: #ee0a24;
  font-size: 12px;
}
.root :global .content .login-btn {
  width: 100%;
  height: 50px;
  margin-top: 38px;
  border-radius: 8px;
  border: 0;
  color: #fff;
  background: -webkit-linear-gradient(135deg, #fe4f4f, #fc6627);
  background: -moz-linear-gradient(135deg, #fe4f4f, #fc6627);
  background: -o-linear-gradient(135deg, #fe4f4f, #fc6627);
  background: linear-gradient(315deg, #fe4f4f, #fc6627);
}
.root :global .content .disabled {
  background: -webkit-linear-gradient(135deg, #ff9999, #ffa179);
  background: -moz-linear-gradient(135deg, #ff9999, #ffa179);
  background: -o-linear-gradient(135deg, #ff9999, #ffa179);
  background: linear-gradient(315deg, #ff9999, #ffa179);
}