@import '@scss/hairline.scss';

.root {
  :global {
    .video-list {
      padding: 0 16px;
      // FIXME: 撑起底部最后一个盒子
      padding-bottom: 50px;
    }
    .video-item {
      position: relative;
      padding: 10px 0;
      @include hairline(bottom, #f0f0f0);
    }
    .title {
      line-height: 1.4;
      font-size: 16px;
      font-weight: normal;
      padding-bottom: 5px;
    }

    img {
      width: 100%;
      border-radius: 14px;
    }

    video {
      width: 100%;
      border-radius: 14px;
    }

    span {
      font-size: 12px;
      color: #999;
    }
  }
}
